{% extends 'core/base.html' %}
{% load static %}
{% block title %}Seguidores{% endblock %}

{% block content %}

<main role="main">
    <div class="container mb-4">
        <h2 class="mb-4">Tus seguidores.</h2>
        <div class="row mt-3">
            <div class="col-md-9 mx-auto">
                {% if seguidores %}
                <table class="table table-hover">
                    <tbody>
                    {% for usuario in seguidores %}
                        <tr class="table-secondary">
                            <th scope="row"></th>
                            <td width="15%">
                                {% if request.user.foto_perfil %}
                                <img width="70" height="70" src="{{request.user.foto_perfil.url}}" class="img-fluid">
                                {% else %}
                                {% load static %}
                                <img width="70" height="70" src="{% static 'registration/img/empty-foto_perfil.jpg' %}" class="img-fluid">
                                {% endif %}
                            </td>
                            <td>
                                <p>{{usuario.seguidor.username}}</p>
                                <p>{{usuario.seguidor.email}}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>  
                {% else %}
                    <h1>Por ahora nadie te sigue.</h1>              
                {% endif %}
            </div>
        </div>  
    </div>
</main>

{% endblock %}