{% extends 'core/base.html' %}
{% block title %}Perfil{% endblock %}

{% block content %}

<style>
    .errorlist {
        color: red;
    }

    label {
        display: none
    }
</style>

<main role="main">

    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto mb-5">
                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <!-- No se hace de la forma form.as_p porque el campo de tipo imagen: 'foto_perfil'
                    se personaliza, debido a la opción de 'Borrar' -->
                    <div class="row">
                        <!-- Previa de la foto de perfil -->
                        <div class="col-md-2">
                            {% if request.user.foto_perfil %}
                            <img src="{{request.user.foto_perfil.url}}" class="img-fluid">
                            <!-- La siguiente línea es tomada del html crudo de form.as_p para la opción de 'Borrar'. -->
                            <p class="mt-1">¿Borrar? <input type="checkbox" id="foto_perfil-clear"
                                    name="foto_perfil-clear" /></p>
                            {% else %}
                            {% load static %}
                            <img src="{% static 'registration/img/empty-foto_perfil.jpg' %}" class="img-fluid">
                            {% endif %}
                        </div>
                        <!-- Formulario -->
                        <div class="col-md-10">
                            <h3>Perfil</h3>
                            <!-- La siguiente línea es el html crudo para el campo 'foto_perfil' -->
                            {{ form.as_p}}
                            <input type="submit" class="btn btn-primary btn-block mt-3" value="Registrarse">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>

{% endblock %}