{% extends 'core/base.html' %}
{% load static %}
{% block title %}Siguiendo{% endblock %}

{% block content %}

<main role="main">
    <div class="container mb-4">
        <h2 class="mb-4">Usuarios a quienes sigues.</h2>
        <div class="row mt-3">
            <div class="col-md-9 mx-auto">
                <table class="table table-hover">
                    <tbody>
                    {% for usuario in siguiendo %}
                        <tr class="table-secondary">
                            <th scope="row"></th>
                            <td class="col-md-1">
                                {% if request.user.foto_perfil %}
                                <img src="{{request.user.foto_perfil.url}}" class="img-fluid">
                                {% else %}
                                {% load static %}
                                <img src="{% static 'registration/img/empty-foto_perfil.jpg' %}" class="img-fluid">
                                {% endif %}
                            </td>
                            <td><p>{{usuario.usuario_seguido.username}}</p></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>                
            </div>
        </div> 
    </div>
</main>

{% endblock %}