{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{blog.titulo}}{% endblock %}

{% block content %}

<main>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">{{blog.titulo}}</h1>
            <div>
                {{blog.contenido|safe}}
            </div>
            <hr class="my-4">
            <p>Por {{ blog.usuario.username }}</p>
            <p>
                <a class="btn btn-primary btn-lg" role="button" href="{% url 'blogs:update_blog' blog.id blog.titulo|slugify %}"><i class="fas fa-edit"></i> Editar</a>
            </p>
        </div>
    </div>
</main>

{% endblock %}