{% extends 'core/base.html' %}
{% load static %}
{% block title %}Blogs{% endblock %}

{% block content %}

<main role="main">
    <div class="container mb-4">
        {% for blog in blogs %}
        <div class="row mt-3">
            <div class="col-md-9 mx-auto">
                <h2 class="mb-4">{{blog.titulo}}</h2>
                <div>
                    <p>{{blog.contenido|striptags|safe|truncatechars:"200"}}</p>
                    <p><a href="{% url 'blogs:read_blog' blog.id blog.titulo|slugify %}">Leer más</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}