{% extends 'core/base.html' %}
{% load static %}
{% block title %}Tus favoritos{% endblock %}

{% block content %}

<main role="main">
    <div class="container mb-4">
        {% if  favoritos %}
        {% for favorito in favoritos %}
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-3">{{favorito.pagina.titulo}}</h1>
                <p class="lead">{{favorito.pagina.contenido|striptags|safe|truncatechars:"200"}}</p>
                <hr class="my-4">
                <p class="lead">
                    <p>Por {{ favorito.pagina.usuario.username }}
                        <a class="btn btn-outline-success btn-sm" role="button" href="{% url 'usuario:seguir_usuario' favorito.pagina.usuario.id %}"><i class="fas fa-user-plus"></i> Seguir</a>
                    </p>
                    <p>
                        <a class="btn btn-info btn-lg" role="button" href="{% url 'blogs:read_blog' favorito.id favorito.pagina.titulo|slugify %}"><i class="fab fa-readme"></i>  Leer más</a>
                        <a class="btn btn-warning btn-lg" role="button" href="{% url 'blogs:eliminar_favorito' favorito.pagina_id %}"><i class="fas fa-heart-broken"></i> Eliminar de favoritos</a>
                    </p>
                </p>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <h1>No Tienes ningun blog marcado como favorito.</h1>
        {% endif %}
    </div>
</main>

{% endblock %}