{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'core:home' %}">Blog app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogs:list_all_blogs' %}">Blogs</a>
                </li>
                {% if request.user.is_authenticated %} 
                {% if request.user.is_staff %}
                <li> <a class="nav-link" href="{% url 'blogs:report_list_blogs'%}">Reportes</a> </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'usuario:profile' %}">Mi perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'blogs:list_blogs' %}">Mis blogs</a>
                        <a class="dropdown-item" href="{% url 'blogs:list_favoritos' %}">Mis favoritos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'usuario:ver_seguidores' %}">Mis seguidores</a>
                        <a class="dropdown-item" href="{% url 'usuario:ver_siguiendo' %}">Siguiendo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuario:signup' %}">Regístrate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Inicia sesión</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar por título">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>

    {% if messages %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% for message in messages %}
        <strong>{{ message }}</strong>
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>