{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}

<main>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p class="p-2 confirmation bg-success text-white">{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container">
        <div style="padding-top:50px; text-align:center;">
            <h1>Web Playground</h1>
            <p class="lead">CBV, autenticación, registros, perfiles y más</p>
        </div>
    </div>
</main>

{% endblock %}